<header>
    <nav class="navHeader">
        <a href="/home">Homepage</a>
        <a href="/browse">Browse movies</a>
        <a href="/likes">Your likes</a>
        <a href="/add">Add a movie</a>
    </nav>
</header>