<header>
    <nav class="navHeader">
        <a class="btn" href="/">Homepage</a>
        <a class="btn" href="/browse">Browse movies</a>
        <a class="btn" href="/add-movie">Add a movie</a>
        <a class="btn" href="/edit-movie">Edit a movie</a>
    </nav>
</header>