<!doctype html>
<html lang="en">

<%- include('../components/head'); %>

	<body>
		
			<main>
                <h1>Welcome to MM MovieMatch</h1>
                <h2>Find the perfect movie for you to watch!</h2>
			</main>
			<%- include('../components/footer'); %>

	</body>

</html>